.dra-scroll {
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
}

.dra-scroll::-webkit-scrollbar {
    width: 8px;
}

.dra-scroll::-webkit-scrollbar-track {
    background: var(--ion-color-warning);
}
.dra-scroll::-webkit-scrollbar-track:hover {
    background: var(--ion-color-dark);
}
.dra-scroll::-webkit-scrollbar-thumb {
    background: var(--ion-color-dark);
    border: 1.5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 1000px;
}
.dra-scroll::-webkit-scrollbar-thumb:hover {
    background: var(--ion-color-warning);
}