.dra-card-actions__btn--location{
    background-color: var(--ion-color-dark);
}
.dra-card-actions__btn--edit{
    background-color: var(--ion-color-warning);
}
.dra-card-actions__btn--delete{
    background-color: var(--ion-color-danger);
}