.dra-card-actions {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-top: 2px solid var(--ion-color-light);
}

.dra-card-actions__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.dra-card-actions__btn--location{
    background-color: var(--ion-color-dark);
}
.dra-card-actions__btn--edit{
    background-color: var(--ion-color-warning);
}
.dra-card-actions__btn--delete{
    background-color: var(--ion-color-danger);
}