.dra-image-modal-content {
    background-color: var(--ion-color-dark);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.dra-image-modal-content > .img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: inherit;
}